.passive-rates {
  &__currency {
    display: inline-block;
    width: 50px;

    padding: auto;
  }
  &__amount {
    width: 110px;
    display: table-row;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
